<nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
  {% comment %} PDP {% endcomment %}
  {%- if template.name == 'product' -%}
    {% comment %} Home {% endcomment %}
    <!--
      <a href="{{ routes.root_url }}" title="{{ 'general.breadcrumbs.home_link_title' | t }}">
        {% render 'icon-home' %}
      </a>
    -->
    {%- if product.collections -%}
      {%- assign cat = product.metafields.custom.parent_collection -%}
      {%- assign parent_collection = cat.value.metafields.custom.parent_collection -%}
      {%- if parent_collection -%}
        <!-- {% render 'breadcrumb-divider' -%} -->
        <!-- <a href="{{ parent_collection.value.url }}" data-collection-title="{{ parent_collection.value.title }}" style="background: #f5f5f5; padding: 0 0.5rem; border-radius: var(--buttonRadius); display: flex; align-items: center;"><svg style="width: 10px; height: 10px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" height="800px" width="800px" version="1.1" id="Capa_1" viewBox="0 0 32.055 32.055" xml:space="preserve">
<g>
	<path d="M3.968,12.061C1.775,12.061,0,13.835,0,16.027c0,2.192,1.773,3.967,3.968,3.967c2.189,0,3.966-1.772,3.966-3.967   C7.934,13.835,6.157,12.061,3.968,12.061z M16.233,12.061c-2.188,0-3.968,1.773-3.968,3.965c0,2.192,1.778,3.967,3.968,3.967   s3.97-1.772,3.97-3.967C20.201,13.835,18.423,12.061,16.233,12.061z M28.09,12.061c-2.192,0-3.969,1.774-3.969,3.967   c0,2.19,1.774,3.965,3.969,3.965c2.188,0,3.965-1.772,3.965-3.965S30.278,12.061,28.09,12.061z"/>
</g>
</svg></a>
        {% render 'breadcrumb-divider' -%} -->
      {%- else -%}
        <a href="{{ routes.root_url }}" title="{{ 'general.breadcrumbs.home_link_title' | t }}">Home</a>
      {%- endif -%}
      <a href="{{ cat.value.url }}">{% unless cat.value.metafields.custom.breadcrumb_title != blank %}{{ cat.value.title }}{% else %}{{ cat.value.metafields.custom.breadcrumb_title }}{% endunless %}</a>
    {%- endif -%}
    {% render 'breadcrumb-divider' -%}
    <span class="breadcrumb__end">{{ product.title }}</span>

    {% comment %} PLP {% endcomment %}
  {%- elsif template.name == 'collection' -%}
    {% assign parent_collection_metafield = collection.metafields.custom.parent_collection %}
    {% assign parent_collection_id = parent_collection_metafield | split: '/' | last | plus: 0 %}
    {% assign has_parent = false %}
    {% for collection in collections %}
      <!-- {% if collection.id == parent_collection_id %}
        {% assign has_parent = true %}
        <a href="{{ collection.url }}">{{ collection.title }}</a>
        {% render 'breadcrumb-divider' -%}
      {% endif %} -->
      <a href="{{ routes.root_url }}" title="{{ 'general.breadcrumbs.home_link_title' | t }}">Home</a>
    {% endfor %}
    {% unless has_parent  %}
      <a href="{{ routes.root_url }}" title="{{ 'general.breadcrumbs.home_link_title' | t }}">Home</a>
    {% render 'breadcrumb-divider' -%}
    {% endunless %}
    <span class="breadcrumb__end">{% unless collection.metafields.custom.breadcrumb_title != blank %}{{ collection.title }}{% else %}{{ collection.metafields.custom.breadcrumb_title }}{% endunless %}</span>

    {% comment %} Blog {% endcomment %}
  {%- elsif template.name == 'blog' or template.name == 'author' -%}
    
    {% comment %} Page {% endcomment %}
  {%- elsif template.name == 'page' -%}
    {% comment %} Home {% endcomment %}
    <!--
      <a href="{{ routes.root_url }}" title="{{ 'general.breadcrumbs.home_link_title' | t }}">
        {% render 'icon-home' %}
      </a>
      {% render 'breadcrumb-divider' -%}
    -->
    {%- assign parent_page = page.metafields.custom.parent_page -%}
    {%- if parent_page -%}
      <a href="{{ parent_page.value.url }}">{{ parent_page.value.title }}</a>
      {% render 'breadcrumb-divider' -%}
    {%- endif -%}
    <span class="breadcrumb__end">{{ page.title }}</span>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
          {
              "@type": "ListItem",
              "position": 1,
              "name": "Home",
              "item": {{ shop.url | json }}
            },
            {
              "@type": "ListItem",
              "position": 2,
              "name": {{ page.title | json }}
            }
        ]
      }
    </script>
    {% comment %} Article {% endcomment %}
  {%- elsif template.name == 'article' -%}
    {% if current_tags %}
      <a style="background-color: #f5f5f5; border-radius: 2px;" href="{{ blog.url }}">{{ blog.title }}</a>
      <span class="breadcrumb__end">{{ current_tags | join: ' + ' }}</span>
    {% else %}
      <a style="background-color: #f5f5f5; border-radius: 2px; padding: .25rem .5rem; " href="{{ blog.url }}">
        {{- blog.title -}}
      </a>

      <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Home",
                "item": {{ shop.url | json }}
              },
             {
                "@type": "ListItem",
                "position": 2,
                "name": {{ blog.title | json }},
                "item": {{ blog.url | prepend: shop.url | json }}
              },
              {
                "@type": "ListItem",
                "position": 3,
                "name": {{ article.title | json }}
              }
          ]
        }
      </script>
    {% endif %}
  {%- elsif template.name == 'cart' -%}
    {% comment %} Home {% endcomment %}
    <a href="{{ routes.root_url }}" title="{{ 'general.breadcrumbs.home_link_title' | t }}">
      {% render 'icon-home' %}
    </a>
    {% render 'breadcrumb-divider' -%}
    <span class="breadcrumb__end">Cart</span>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
          {
              "@type": "ListItem",
              "position": 1,
              "name": "Home",
              "item": {{ shop.url | json }}
            },
            {
              "@type": "ListItem",
              "position": 2,
              "name": "Cart"
            }
        ]
      }
    </script>
  {%- endif -%}
</nav>

{% assign pageType = template %}
{% assign breadcrumbItems = '' | split: '' %}

{% case pageType %}
  {% when 'index' %}
    {% assign breadcrumbItems = breadcrumbItems | push: 'Home' %}
  {% when 'collection' %}
    {% assign breadcrumbItems = breadcrumbItems | push: 'Home' | push: collection.title %}
    {% if current_tags %}
      {% assign tagCrumb = current_tags | join: ', ' %}
      {% assign breadcrumbItems = breadcrumbItems | push: tagCrumb %}
    {% endif %}
  {% when 'product' %}
    {% assign breadcrumbItems = breadcrumbItems | push: 'Home' | push: collection.title | push: product.title %}
  {% when 'blog' %}
    {% assign breadcrumbItems = breadcrumbItems | push: 'Home' | push: blog.title %}
    {% if current_tags %}
      {% assign tagCrumb = current_tags | join: ', ' %}
      {% assign breadcrumbItems = breadcrumbItems | push: tagCrumb %}
    {% endif %}
  {% when 'article' %}
    {% assign breadcrumbItems = breadcrumbItems | push: 'Home' | push: blog.title | push: article.title %}
{% endcase %}

{% if breadcrumbItems.size > 0 %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {% for crumb in breadcrumbItems %}
          {
            "@type": "ListItem",
            "position": {{ forloop.index }},
            "name": "{{ crumb }}",
            "item": "{{ shop.url }}{% case forloop.index %}{% when 1 %}{% when 2 %}/collections/{{ collection.handle }}{% when 3 %}{% if current_tags and pageType == 'collection' %}/collections/{{ collection.handle }}/tagged/{{ current_tags | join: '+' }}{% else %}/products/{{ product.handle }}{% endif %}{% when 4 %}/blogs/{{ blog.handle }}{% when 5 %}/blogs/{{ blog.handle }}/articles/{{ article.handle }}{% endcase %}"
          }{% unless forloop.last %},{% endunless %}
        {% endfor %}
      ]
    }
  </script>
{% endif %}
