{% assign default_product = bundle_products | first %}
{% if default_product %}
<product-bundle id="{{ id }}">
    <script type="application/json" id="variantData-{{ id }}">
    {
    {%- for product in bundle_products -%}
    "{{ product.id }}": [
    {%- for variant in product.variants -%}
        {
            "id": {{ variant.id | json }},
            "title": {{ variant.title | json }},
            "price": {{ variant.price | money | json }}
        }{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}]
    {%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
    }
    </script>
    <h4 class="product-bundle__header">{{ bundle_title }} <span class="product-bundle__price">({{ default_product.price | money |  prepend: '+'   }})</span></h4>
    <div class="product-bundle__container">
        <div class="product-bundle__image-container">
<img src="{%- if default_product.featured_image-%}{{ default_product.featured_image |  image_url: width:350, height:350  }}{%- endif -%}" alt="{{ default_product.title }}">
        </div>
        <div class="product-bundle__details">
            <select name="bundle-products" id="bundle-product-select" class="bundle-details__product-select">
                {% for product in bundle_products %}
                    <option value="{{ product.id  }}" data-product-image="{{ product.featured_image |  image_url }}" >{{ product.title }}</option>
                {%- endfor -%}
            </select>
            <div class="bundle-details__options">
                {% unless default_product.has_only_default_variant  %}
                    <select name="bundle-variants" id="bundle-variant-select">
                        {% for variant in default_product.variants %}
                            <option value="{{ variant.id }}">{{ variant.title }}</option>
                        {% endfor %}
                    </select>
                    {% endunless %}
                {% render 'quantity-input', min: 1, qty: 1, custom_class: 'bundle__product-qty' %}
                <div class="btn btn--primary bundle-details__btn">Add</div>
            </div>
            {% comment %} <div class="bundle-details__description" style="color: #8d8d8d">Description +</div> {% endcomment %}
        </div>
    </div>
</product-bundle>
{% endif %}