<section class="grid-table">
  {% if cultivation_info.species != blank %}
    <div class="grid-cell">Species</div>
    <div class="grid-cell">{{ cultivation_info.species }}</div>
  {% endif %}
  {% if cultivation_info.inoculation_rate != blank %}
    <div class="grid-cell">Inoculation Rate</div>
    <div class="grid-cell">{{ cultivation_info.inoculation_rate }}</div>
  {% endif %}
  {% if cultivation_info.recommended_substrate != blank %}
    <div class="grid-cell">Recommended Substrate</div>
    <div class="grid-cell">{{ cultivation_info.recommended_substrate }}</div>
  {% endif %}
  {% if cultivation_info.incubation != blank %}
    <div class="grid-cell">Incubation</div>
    <div class="grid-cell">{{ cultivation_info.incubation }}</div>
  {% endif %}
  {% if cultivation_info.primordia_induction != blank %}
    <div class="grid-cell">Primordia Induction</div>
    <div class="grid-cell">{{ cultivation_info.primordia_induction }}</div>
  {% endif %}
  {% if cultivation_info.fruiting_conditions != blank %}
    <div class="grid-cell">Fruiting Conditions</div>
    <div class="grid-cell">{{ cultivation_info.fruiting_conditions }}</div>
  {% endif %}
  {% if cultivation_info.flushes != blank %}
    <div class="grid-cell">Flushes</div>
    <div class="grid-cell">{{ cultivation_info.flushes }}</div>
  {% endif %}
  {% if cultivation_info.total_production_cycle != blank %}
    <div class="grid-cell">Total Production Cycle</div>
    <div class="grid-cell">{{ cultivation_info.total_production_cycle }}</div>
  {% endif %}
  {% if cultivation_info.average_yield != blank %}
    <div class="grid-cell">Average Yield</div>
    <div class="grid-cell">{{ cultivation_info.average_yield }}</div>
  {% endif %}
</section>
<style>
  .cultivation-summary {
    margin-bottom: 3rem;
  }
  .grid-table {
    display: grid;
    grid-template-columns: 1fr 3fr;
    border: 1px solid #ccc;
    margin: 0 auto;
    border-radius: var(--buttonRadius);
  }

  .grid-header {
    background-color: #f3f3f3;
    font-weight: bold;
    padding: 10px;
  }

  .grid-cell {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  .grid-cell:nth-child(even) {
    background-color: #f9f9f9;
  }

  .page-width--three-quarters {
    width: 75%;
  }

  @media only screen and (max-width: 767px) {
    .grid-table {
      width: 100%;
    }
    .page-width--three-quarters {
      width: 100%;
    }
    .grid-table {
      grid-template-columns: 1fr;
    }
    .grid-cell {
      text-align: center;
    }
  }
</style>
