<div
  id="{{ html_id }}"
  class="shopify-section"
  style="padding: 5rem 0;{% if background_color != blank %}background-color: {{ background_color }}; color: {{ text_color }};{% endif %}"
>
  <div class="text-{{ align_text }} page-width{% if container_size == 'narrow'%} page-width--narrow{% endif %}">
    <div class="theme-block">
      {% if heading %}
        {% if heading_type == blank %}
          {% assign heading_type = 'h2' %}
        {% endif %}
        <{{ heading_type }}>{{ heading | escape }}</{{ heading_type }}>
      {% endif %}
      <div class="rte">
        {{ text }}
      </div>
    </div>
  </div>
</div>
