{% comment %}
  <div class="wrapper">
    <div class="usp-banner">
      <div class="usp-banner__usp">
        <div class="usp-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
            <title>thumbs-up-solid</title>
            <g id="Layer_2" data-name="Layer 2">
              <g id="invisible_box" data-name="invisible box">
                <rect width="48" height="48" fill="none" />
              </g>
              <g id="icons_Q2" data-name="icons Q2">
                <path d="M38,17H31l.4-3.3C32,8.8,31,4.9,27.8,4h-.3A2,2,0,0,0,26,5.2s-5.7,12-9,14.4V40h1.3a1.6,1.6,0,0,1,1.2.4c1.4,1,6.1,3.6,8.5,3.6h5c5.9,0,11-4,11.5-11.9h0l.5-8A6.7,6.7,0,0,0,38,17ZM3,22V38a2,2,0,0,0,2,2h8V20H5A2,2,0,0,0,3,22Z" />
              </g>
            </g>
          </svg>
        </div>
        <span class="usp-title">{{ block.settings.usp_one }}</span>
      </div>
      <div class="usp-banner__usp">
        <div class="usp-icon"><svg xmlns="http://www.w3.org/2000/svg" fill="#000000" viewBox="0 0 512 512" data-name="Layer 1" id="Layer_1">
            <title />
            <path d="M256,62.24c-106.82,0-193.72,86.56-193.72,192.94s86.9,193,193.72,193,193.72-86.56,193.72-192.95S362.82,62.24,256,62.24Zm0,369.89c-98,0-177.72-79.38-177.72-176.95S158,78.24,256,78.24s177.72,79.38,177.72,176.94S354,432.13,256,432.13Zm127.58-103.6h0v0h0a8,8,0,0,1-10.9,2.91l-20-11.51a8,8,0,0,1,8-13.87l12.91,7.41A130.31,130.31,0,0,0,387,263.19H372.18a8,8,0,0,1,0-16H387a129.36,129.36,0,0,0-13.56-50.32l-12.87,7.4a7.91,7.91,0,0,1-4,1.07,8,8,0,0,1-4-14.94l12.8-7.35a131.91,131.91,0,0,0-37-36.83L321,159a8,8,0,0,1-13.84-8l7.39-12.75A130.71,130.71,0,0,0,264,124.73v14.76a8,8,0,0,1-16,0V124.73a130.71,130.71,0,0,0-50.56,13.5L204.83,151A8,8,0,1,1,191,159l-7.41-12.78a132,132,0,0,0-37,36.82l12.8,7.36a8,8,0,1,1-8,13.87l-12.88-7.4A129.36,129.36,0,0,0,125,247.18h14.86a8,8,0,0,1,0,16H125a130.31,130.31,0,0,0,13.53,50.33l12.9-7.41a8,8,0,1,1,8,13.87l-20,11.51a8,8,0,0,1-10.89-2.91h0l0,0h0a146.26,146.26,0,0,1-19.71-72.94c0-.14,0-.27,0-.41s0-.24,0-.36A145.42,145.42,0,0,1,128,182.59a7.54,7.54,0,0,1,.38-.75,7.25,7.25,0,0,1,.53-.79,148.09,148.09,0,0,1,52.63-52.42,7.52,7.52,0,0,1,.75-.5,8.52,8.52,0,0,1,.8-.4,146.86,146.86,0,0,1,72.51-19.25h.72a146.86,146.86,0,0,1,72.51,19.25,8.52,8.52,0,0,1,.8.4,7.52,7.52,0,0,1,.75.5,148,148,0,0,1,52.63,52.42,7.25,7.25,0,0,1,.53.79c.14.25.27.5.38.75a145.42,145.42,0,0,1,19.33,72.23c0,.12,0,.24,0,.37s0,.26,0,.4a146.26,146.26,0,0,1-19.7,72.92Zm-96.33-73.37a31.24,31.24,0,0,0-39.42-30l-27.56-47.54a8,8,0,1,0-13.84,8L234,233.15a31.09,31.09,0,0,0,22,53.14,31.5,31.5,0,0,0,8.15-1.08l5.28,9.12a8,8,0,0,0,13.84-8L278,277.22A31.13,31.13,0,0,0,287.25,255.16Zm-46.43,0a15.16,15.16,0,0,1,7.59-13.08h0a15.1,15.1,0,1,1-7.6,13.08Zm61.61,84.5H209.57a8,8,0,0,0-8,8v46.23a8,8,0,0,0,8,8h92.86a8,8,0,0,0,8-8V347.66A8,8,0,0,0,302.43,339.66Zm-8,46.23H217.57V355.66h76.86Z" />
          </svg></div>
        <span class="usp-title">{{ block.settings.usp_two }}</span>
      </div>
      <div class="usp-banner__usp">
        <div class="usp-icon"><svg xmlns="http://www.w3.org/2000/svg" fill="#000000" viewBox="0 0 32 32" version="1.1">
            <title>cycle</title>
            <path d="M12.953 28.484l-1.584-10.589-3.182 4.301c-2.75-3.393-2.978-8.339-0.26-12.013 2.577-3.483 7.020-4.769 10.926-3.499l-0.548-3.665 4.493-0.672c-6.567-3.368-14.795-1.588-19.328 4.539-4.545 6.144-3.823 14.56 1.356 19.852l-2.463 3.329 10.589-1.584zM26.941 5.445l2.58-3.487-10.589 1.583 1.584 10.589 3.056-4.131c2.633 3.388 2.814 8.239 0.137 11.858-2.534 3.426-6.875 4.726-10.732 3.559l0.525 3.511-4.762 0.712c6.581 3.425 14.858 1.657 19.41-4.496 4.502-6.085 3.836-14.399-1.208-19.699z" />
          </svg></div>
        <span class="usp-title">{{ block.settings.usp_three }}</span>
      </div>
      <div class="usp-banner__usp">
        <div class="usp-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path fill="#000000" d="M256.502 23.338c-5.264-.017-10.602.064-16.01.248-43.932 1.49-108.495 9.014-156.07 34.525C60.634 70.868 41.228 87.856 29.7 110.58c-9.905 19.523-14.218 43.612-9.827 74.12 79.586-64.2 182.69-74.987 273.576-62.077 47.868 6.8 92.504 20.13 129.124 35.908 28.17 12.14 51.478 25.535 68.19 39.144 4.646-44.342-14.038-85.896-52.41-117.906-40.398-33.704-102.896-56.172-181.852-56.43zm-27.35 113.168c-72.544-.373-146.55 17.994-205.015 68.86 15.44 23.347 72.354 38.202 141.166 45.177 4.5-11.288 9.557-22.123 15.115-32.36-15.682 5.088-33.815 6.356-51.043 5.223-13.068-.86-25.607-3.256-36.28-7.28-10.675-4.026-19.932-9.497-25.032-18.657l16.343-9.095c1.584 2.844 6.904 7.122 15.28 10.28 8.38 3.16 19.37 5.336 30.908 6.095 21.135 1.39 44.096-2.553 57.01-10.303-9.4-5.153-17.12-11.833-21.542-20.76l16.75-8.28c2.68 5.406 9.784 11.377 20.47 15.905 3.946 1.673 8.327 3.147 13.01 4.397l57.778 3.286c18.18-2.502 34.71-8.302 44.836-17.06l12.22 14.126c-7.633 6.6-16.785 11.604-26.82 15.237 2.192 1.31 4.8 2.593 7.82 3.73 8.377 3.16 19.367 5.336 30.905 6.095 23.078 1.518 48.34-3.32 60.314-12.53l11.406 14.81c-18.577 14.295-46.802 18.095-72.938 16.376-13.067-.858-25.607-3.255-36.28-7.28-2.15-.81-4.23-1.69-6.243-2.64-.47 11.334-.645 22.946-.528 34.744 86.96-3 164.896-16.872 182.375-40.6-14.69-12.323-37.7-26.132-65.96-38.31-35.058-15.105-78.26-28.02-124.357-34.57-20.167-2.864-40.858-4.51-61.668-4.618zm-18.006 67.63c-45.666 65.347-67.017 176.985-37.548 259.09 4.526 12.61 15.112 21.154 29.945 26.465 14.833 5.313 33.477 6.814 50.97 4.92 17.49-1.895 33.836-7.28 43.893-14.122 5.03-3.42 8.39-7.112 10.073-10.467 1.68-3.353 2.067-6.28.87-10.338-22.968-77.82-32.768-171.644-28.024-251.555l-70.18-3.992z" />
          </svg></div>
        <span class="usp-title">{{ block.settings.usp_four }}</span>
      </div>
    </div>
  </div>
{% endcomment %}
<div class="usp-wrapper">
  <div class="usp-banner">
    <div class="usp-banner__usp">
      <div class="usp-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
          <title>thumbs-up-solid</title>
          <g id="Layer_2" data-name="Layer 2">
            <g id="invisible_box" data-name="invisible box">
              <rect width="48" height="48" fill="none" />
            </g>
            <g id="icons_Q2" data-name="icons Q2">
              <path d="M38,17H31l.4-3.3C32,8.8,31,4.9,27.8,4h-.3A2,2,0,0,0,26,5.2s-5.7,12-9,14.4V40h1.3a1.6,1.6,0,0,1,1.2.4c1.4,1,6.1,3.6,8.5,3.6h5c5.9,0,11-4,11.5-11.9h0l.5-8A6.7,6.7,0,0,0,38,17ZM3,22V38a2,2,0,0,0,2,2h8V20H5A2,2,0,0,0,3,22Z" />
            </g>
          </g>
        </svg>
      </div>
      <span class="usp-title">Beginner Friendly</span>
    </div>
    <div class="usp-banner__usp">
      <div class="usp-icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" viewBox="0 0 512 512" data-name="Layer 1" id="Layer_1">
          <title />
          <path d="M256,62.24c-106.82,0-193.72,86.56-193.72,192.94s86.9,193,193.72,193,193.72-86.56,193.72-192.95S362.82,62.24,256,62.24Zm0,369.89c-98,0-177.72-79.38-177.72-176.95S158,78.24,256,78.24s177.72,79.38,177.72,176.94S354,432.13,256,432.13Zm127.58-103.6h0v0h0a8,8,0,0,1-10.9,2.91l-20-11.51a8,8,0,0,1,8-13.87l12.91,7.41A130.31,130.31,0,0,0,387,263.19H372.18a8,8,0,0,1,0-16H387a129.36,129.36,0,0,0-13.56-50.32l-12.87,7.4a7.91,7.91,0,0,1-4,1.07,8,8,0,0,1-4-14.94l12.8-7.35a131.91,131.91,0,0,0-37-36.83L321,159a8,8,0,0,1-13.84-8l7.39-12.75A130.71,130.71,0,0,0,264,124.73v14.76a8,8,0,0,1-16,0V124.73a130.71,130.71,0,0,0-50.56,13.5L204.83,151A8,8,0,1,1,191,159l-7.41-12.78a132,132,0,0,0-37,36.82l12.8,7.36a8,8,0,1,1-8,13.87l-12.88-7.4A129.36,129.36,0,0,0,125,247.18h14.86a8,8,0,0,1,0,16H125a130.31,130.31,0,0,0,13.53,50.33l12.9-7.41a8,8,0,1,1,8,13.87l-20,11.51a8,8,0,0,1-10.89-2.91h0l0,0h0a146.26,146.26,0,0,1-19.71-72.94c0-.14,0-.27,0-.41s0-.24,0-.36A145.42,145.42,0,0,1,128,182.59a7.54,7.54,0,0,1,.38-.75,7.25,7.25,0,0,1,.53-.79,148.09,148.09,0,0,1,52.63-52.42,7.52,7.52,0,0,1,.75-.5,8.52,8.52,0,0,1,.8-.4,146.86,146.86,0,0,1,72.51-19.25h.72a146.86,146.86,0,0,1,72.51,19.25,8.52,8.52,0,0,1,.8.4,7.52,7.52,0,0,1,.75.5,148,148,0,0,1,52.63,52.42,7.25,7.25,0,0,1,.53.79c.14.25.27.5.38.75a145.42,145.42,0,0,1,19.33,72.23c0,.12,0,.24,0,.37s0,.26,0,.4a146.26,146.26,0,0,1-19.7,72.92Zm-96.33-73.37a31.24,31.24,0,0,0-39.42-30l-27.56-47.54a8,8,0,1,0-13.84,8L234,233.15a31.09,31.09,0,0,0,22,53.14,31.5,31.5,0,0,0,8.15-1.08l5.28,9.12a8,8,0,0,0,13.84-8L278,277.22A31.13,31.13,0,0,0,287.25,255.16Zm-46.43,0a15.16,15.16,0,0,1,7.59-13.08h0a15.1,15.1,0,1,1-7.6,13.08Zm61.61,84.5H209.57a8,8,0,0,0-8,8v46.23a8,8,0,0,0,8,8h92.86a8,8,0,0,0,8-8V347.66A8,8,0,0,0,302.43,339.66Zm-8,46.23H217.57V355.66h76.86Z" />
        </svg>
      </div>
      <span class="usp-title">First Flush Within {{ time_to_flush }} Weeks*</span>
    </div>
    <div class="usp-banner__usp">
      <div class="usp-icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" viewBox="0 0 32 32" version="1.1">
          <title>cycle</title>
          <path d="M12.953 28.484l-1.584-10.589-3.182 4.301c-2.75-3.393-2.978-8.339-0.26-12.013 2.577-3.483 7.020-4.769 10.926-3.499l-0.548-3.665 4.493-0.672c-6.567-3.368-14.795-1.588-19.328 4.539-4.545 6.144-3.823 14.56 1.356 19.852l-2.463 3.329 10.589-1.584zM26.941 5.445l2.58-3.487-10.589 1.583 1.584 10.589 3.056-4.131c2.633 3.388 2.814 8.239 0.137 11.858-2.534 3.426-6.875 4.726-10.732 3.559l0.525 3.511-4.762 0.712c6.581 3.425 14.858 1.657 19.41-4.496 4.502-6.085 3.836-14.399-1.208-19.699z" />
        </svg>
      </div>
      <span class="usp-title">Up to {{ no_harvests }} Harvests*</span>
    </div>
    <div class="usp-banner__usp">
      <div class="usp-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path fill="#000000" d="M256.502 23.338c-5.264-.017-10.602.064-16.01.248-43.932 1.49-108.495 9.014-156.07 34.525C60.634 70.868 41.228 87.856 29.7 110.58c-9.905 19.523-14.218 43.612-9.827 74.12 79.586-64.2 182.69-74.987 273.576-62.077 47.868 6.8 92.504 20.13 129.124 35.908 28.17 12.14 51.478 25.535 68.19 39.144 4.646-44.342-14.038-85.896-52.41-117.906-40.398-33.704-102.896-56.172-181.852-56.43zm-27.35 113.168c-72.544-.373-146.55 17.994-205.015 68.86 15.44 23.347 72.354 38.202 141.166 45.177 4.5-11.288 9.557-22.123 15.115-32.36-15.682 5.088-33.815 6.356-51.043 5.223-13.068-.86-25.607-3.256-36.28-7.28-10.675-4.026-19.932-9.497-25.032-18.657l16.343-9.095c1.584 2.844 6.904 7.122 15.28 10.28 8.38 3.16 19.37 5.336 30.908 6.095 21.135 1.39 44.096-2.553 57.01-10.303-9.4-5.153-17.12-11.833-21.542-20.76l16.75-8.28c2.68 5.406 9.784 11.377 20.47 15.905 3.946 1.673 8.327 3.147 13.01 4.397l57.778 3.286c18.18-2.502 34.71-8.302 44.836-17.06l12.22 14.126c-7.633 6.6-16.785 11.604-26.82 15.237 2.192 1.31 4.8 2.593 7.82 3.73 8.377 3.16 19.367 5.336 30.905 6.095 23.078 1.518 48.34-3.32 60.314-12.53l11.406 14.81c-18.577 14.295-46.802 18.095-72.938 16.376-13.067-.858-25.607-3.255-36.28-7.28-2.15-.81-4.23-1.69-6.243-2.64-.47 11.334-.645 22.946-.528 34.744 86.96-3 164.896-16.872 182.375-40.6-14.69-12.323-37.7-26.132-65.96-38.31-35.058-15.105-78.26-28.02-124.357-34.57-20.167-2.864-40.858-4.51-61.668-4.618zm-18.006 67.63c-45.666 65.347-67.017 176.985-37.548 259.09 4.526 12.61 15.112 21.154 29.945 26.465 14.833 5.313 33.477 6.814 50.97 4.92 17.49-1.895 33.836-7.28 43.893-14.122 5.03-3.42 8.39-7.112 10.073-10.467 1.68-3.353 2.067-6.28.87-10.338-22.968-77.82-32.768-171.644-28.024-251.555l-70.18-3.992z" />
        </svg>
      </div>
      {% if kit_type == 'Gift Option' %}
        <span class="usp-title">Live Spawn Voucher</span>
      {% else %}
        <span class="usp-title">Includes Live Mushroom Spawn</span>
      {% endif %}
    </div>
  </div>
</div>

<style type="text/css">
  .usp-wrapper .usp-banner {
    width: 100%;
    padding: 1rem 1rem 2.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    flex-wrap: wrap;
  }

  .usp-wrapper .usp-banner__usp {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 25%;
  }

  .usp-wrapper .usp-banner__usp .usp-icon {
    width: 35px;
  }

  .usp-wrapper .usp-banner__usp .usp-title {
    width: 75%;
    text-align: center;
  }

  @media only screen and (max-width: 769px) {
    .usp-wrapper .usp-banner {
      padding: 0 0 5rem 0;
      grid-row-gap: 2rem;
    }
    .usp-wrapper .usp-banner__usp {
      width: 50%;
    }
  }
</style>
