{%- assign apply_styles = collection.metafields.collections.apply_extended_copy_styles -%}
{%- assign extended_copy_background_color = collection.metafields.collections.extended_copy_background_color -%}
{%- assign extended_copy_text_color = collection.metafields.collections.extended_copy_text_color -%}
{%- assign extended_copy_blocks = collection.metafields.collections.extended_copy -%}
{%- assign len = extended_copy_blocks | size | minus: 1 -%}
{%- if extended_copy_blocks.first and len > 0 -%}
  {%- for i in (0..len) -%}
    {% if extended_copy_blocks[i] != blank %}
    <div
      class="extended-copy"
      {%- if apply_styles[i] -%}
        style="color: {{ extended_copy_text_color[i] }}; background-color: {{ extended_copy_background_color[i] }};"
      {%- endif -%}
    >
      <div class="page-width page-width--narrow">
        {{ extended_copy_blocks[i] }}
      </div>
    </div>
      {% endif %}
  {%- endfor -%}
{%- else -%}
  {% if extended_copy_blocks != blank %}
  <div
    class="extended-copy"
    {%- if apply_styles -%}
      style="color: {{ extended_copy_text_color }}; background-color: {{ extended_copy_background_color }};"
    {%- endif -%}
  >
    <div class="page-width page-width--narrow">
      {{ extended_copy_blocks }}
    </div>
  </div>
    {% endif %}
{%- endif -%}

{% schema %}
{
  "name": "Extended Copy Block",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.faq.settings.title.label",
      "default": "FAQs"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "PLP Extended Copy",
      "blocks": []
    }
  ]
}
{% endschema %}
