<div
  data-section-id="{{ section.id }}"
  data-section-type="hero-banner-section"
  data-parallax="true">
  
  {%- assign natural_height = false -%}
  {%- assign natural_mobile_height = false -%}
  {%- if section.settings.section_height == 'natural' or section.settings.mobile_height == 'auto' -%}
    {%- if section.settings.image != blank -%}
      {%- if section.settings.section_height == 'natural' %}
        {%- assign natural_height = true -%}
        {%- capture natural_height_ratio -%}{{ 100 | divided_by: section.settings.image.aspect_ratio }}%{% endcapture %}
      {%- endif -%}
    {%- endif -%}
    {%- if section.settings.image_mobile != blank -%}
      {%- if section.settings.mobile_height == 'auto' -%}
        {%- assign natural_mobile_height = true -%}
        {%- capture natural_mobile_height_ratio -%}{{ 100 | divided_by: section.settings.image_mobile.aspect_ratio }}%{% endcapture %}
      {%- endif -%}
    {%- endif -%}
  {%- endif -%}

  {%- if natural_height -%}
    {%- style -%}
      @media only screen and (min-width: 769px) {
        .hero-natural--{{ section.id }} {
          height: 0;
          padding-bottom: {{ natural_height_ratio }};
        }
      }
    {%- endstyle -%}
  {%- endif -%}
  {%- if natural_mobile_height -%}
    {%- style -%}
      @media screen and (max-width: 768px) {
        .hero-natural-mobile--{{ section.id }} {
          height: 0;
          padding-bottom: {{ natural_mobile_height_ratio }};
        }
      }
    {%- endstyle -%}
  {%- endif -%}

  <div class="{% if natural_height %}hero-natural--{{ section.id }}{% endif %}{% if natural_mobile_height %} hero-natural-mobile--{{ section.id }}{% endif %}">
    <div class="hero hero--{{ section.settings.section_height }} hero--{{ section.id }} hero--mobile--{{ section.settings.mobile_height }}">
      <div class="hero__image-wrapper">
        {% if section.settings.image != blank %}
          <img src="{{ section.settings.image | img_url: '1024x' }}" alt="{{ section.settings.image.alt | escape }}">
        {% endif %}
        {% if section.settings.image_mobile != blank %}
          <img src="{{ section.settings.image_mobile | img_url: '1024x' }}" alt="{{ section.settings.image_mobile.alt | escape }}" class="mobile-image">
        {% endif %}
      </div>
      <div class="hero__text-content">
        {% if section.settings.title != blank %}
          <h1>{{ section.settings.title | escape }}</h1>
        {% endif %}
        {% if section.settings.subtitle != blank %}
          <h2>{{ section.settings.subtitle | escape }}</h2>
        {% endif %}
        {% if section.settings.text != blank %}
          <p>{{ section.settings.text }}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Static Hero Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Banner Image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Mobile Banner Image"
    },
    {
  "type": "select",
  "id": "section_height",
  "label": "Section Height",
  "options": [
    {"value": "fixed", "label": "Fixed"},
    {"value": "natural", "label": "Natural"}
  ]
},
{
  "type": "select",
  "id": "mobile_height",
  "label": "Mobile Height",
  "options": [
    {"value": "fixed", "label": "Fixed"},
    {"value": "auto", "label": "Auto"}
  ]
},
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Description"
    }
  ],
  "presets": [
    {
      "name": "Default Hero Banner",
      "category": "Image"
    }
  ]
}
{% endschema %}
