{% assign title_words = section.settings.title | split: ' ' %}
{% assign title_first_word = title_words.first %}
{% assign title_remaining_words = title_words | slice: 1, title_words.size | join: ' ' %}
<!-- <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script> -->
<section
  id="LeadGenHeaderSection"
  data-section-id="{{ section.id }}"
  data-section-type="lead-gen-header"
  class="lead-gen__header"
>
  <div
    class="container page-width"
    {% if section.settings.header_background_image %}
      style="z-index: 1"
    {% endif %}
  >
    {% if section.settings.header_subtitle %}
      <span class="header__subtitle">{{ section.settings.header_subtitle }}</span>
    {% endif %}
    {% if section.settings.person_image_1 or section.settings.person_image_2 %}
      <h1 class="header__title">
        {{ title_first_word }}
        <div class="header__title-people">
          <span class="inner-circle" style="opacity: .5;"></span>
          <span class="inner-circle"></span>
          {% if section.settings.person_image_1 %}
            <span class="inner-circle">
              <img src="{{ section.settings.person_image_1 | img_url: '250x250' }}" alt="Person Image 1">
            </span>
          {% endif %}
          {% if section.settings.person_image_2 %}
            <span class="inner-circle">
              <img src="{{ section.settings.person_image_2 | img_url: '250x250' }}" alt="Person Image 2">
            </span>
          {% endif %}
        </div>
        {{ title_remaining_words -}}
        {%- if section.settings.title_highlight != blank -%}
          <span class="header__title-highlight">{{ section.settings.title_highlight | prepend: ' ' }}</span>.
        {%- endif %}
      </h1>
    {% else %}
      <h1 class="header__title">
        {{ section.settings.title }}
        {% if section.settings.title_highlight != blank -%}
          <span class="header__title-highlight">{{ section.settings.title_highlight }}</span>.
        {%- endif %}
      </h1>
    {% endif %}

    {% if section.settings.header_excerpt %}
      <div class="header__excerpt">{{ section.settings.header_excerpt | richtext }}</div>
    {% endif %}
    {% if section.settings.book_consultation_link %}
      <a href="#BookConsultation" class="btn">
        {{- section.settings.book_consultation_text | default: 'Book Consultation' -}}
      </a>
    {% endif %}
  </div>
</section>

<!--
  <script>
    var typed = new Typed('.header__title-highlight', {
        strings: [' profitable', ' sustainable', ' simple'],
        typeSpeed: 250,
        loop: true
    });
  </script>
-->
{% style %}
  [data-section-id="{{ section.id }}"] {
      padding: 6.5rem 0 1.5rem 0;
      min-height: max(550px, 60vh);
      display: flex;
      align-items: center;
      background: #1A1A1A;
      color: #fff;
      position: relative;
      {% if section.settings.header_background_image != blank %}
      background-image: url("{{ section.settings.header_background_image | img_url: '2000x' }}");
      background-size: cover;
      background-position: center;
      {% endif %}
  }

  {% if section.settings.header_background_image %}

  [data-section-id="{{ section.id }}"]::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.65);
      z-index: 1;
  }

  {% endif %}

  [data-section-id="{{ section.id }}"] .container {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: center;
  }

  [data-section-id="{{ section.id }}"] .btn {
      border: 1px solid #fff;
      width: fit-content;
  }

  [data-section-id="{{ section.id }}"] .inner-circle {
      width: 1em;
      height: 1em;
      border-radius: 100%;
      background-color: #00d567;
  }

  [data-section-id="{{ section.id }}"] .inner-circle:not(:first-of-type) {
      margin-left: -0.5em;
  }

  [data-section-id="{{ section.id }}"] .header__subtitle {
      font-family: 'Josefin Sans' !important;
      letter-spacing: -.075em !important;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: .5em;
  }

  [data-section-id="{{ section.id }}"] .header__title {
      font-family: 'DM Sans' !important;
      text-transform: unset !important;
      letter-spacing: 0 !important;
      font-size: clamp(40px, 5vw, 80px);
  }

  @media only screen and (min-width: 769px) {
      [data-section-id="{{ section.id }}"] .header__title {
          max-width: 75%;
      }
  }

  [data-section-id="{{ section.id }}"] .header__excerpt {
      font-size: clamp(14px, 5vw, 18px);
  }

  [data-section-id="{{ section.id }}"] .header__title-highlight {
      color: #00d567;
  }

  [data-section-id="{{ section.id }}"] .header__title-people {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      vertical-align: middle;
      height: 1em;
      width: 2.5em;
      margin: 0 .25em;
  }

  [data-section-id="{{ section.id }}"] .header__title-people img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50px;
  }
{% endstyle %}

{% schema %}
{
  "name": "LG: Header",
  "settings": [
    {
        "type": "image_picker",
        "id": "header_background_image",
        "label": "Header Background Image",
        "info": "Optional. If provided, this image will be used as the background for the header section."
    },
    {
      "type": "text",
      "id": "header_subtitle",
      "label": "Header Subtitle",
      "default": "Mushroom Cultivation Consultancy"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "We make growing mushrooms"
    },
    {
      "type": "text",
      "id": "title_highlight",
      "label": "Title Highlight",
      "default": "simple"
    },
    {
      "type": "richtext",
      "id": "header_excerpt",
      "label": "Header Excerpt",
      "default": "<p>From expert advice to farm design and installation, we can help you succeed in mushroom cultivation.</p>"
    },
    {
      "type": "url",
      "id": "book_consultation_link",
      "label": "Book Consultation Link"
    },
    {
      "type": "text",
      "id": "book_consultation_text",
      "label": "Book Consultation Text",
      "default": "Book Consultation"
    },
    {
      "type": "image_picker",
      "id": "person_image_1",
      "label": "Person Image 1",
      "info": "First person's image."
    },
    {
      "type": "image_picker",
      "id": "person_image_2",
      "label": "Person Image 2",
      "info": "Second person's image."
    }
  ],
  "presets": [{
    "name": "LG: Header 1",
    "category": "Header"
  }]
}
{% endschema %}
