<section
  id="LeadGenHowItWorks"
  data-section-id="{{ section.id }}"
  data-section-type="lead-gen-wte"
  class="lead-gen__wte aos-init aos-animate"
  data-aos="how-it-works"
>
  <div class="index-content">
    <div class="container page-width">
      <p style="font-weight: 100; text-align: center;font-size:clamp(14px, 5vw, 16px); margin-bottom: 2rem;">
        {{ section.settings.section_byline }}
      </p>
      <h2 class="section-title">{{ section.settings.section_title | default: 'How It Works' }}</h2>
      <div class="grid page-width">
        {% for block in section.blocks %}
          <div class="grid-item">
            <div class="grid-item__icon">
              {% case block.settings.icon %}
                {% when 'strategy' %}
                  {% render 'icon-strategy' %}
                {% when 'optimisation' %}
                  {% render 'icon-optimisation' %}
                {% when 'mentor' %}
                  {% render 'icon-mentor' %}
                {% when 'growth-chart' %}
                  {% render 'icon-growth-chart' %}
              {% endcase %}
            </div>
            <h3 class="grid-item__title">{{ forloop.index }}. {{ block.settings.title }}</h3>
            <p>{{ block.settings.description }}</p>
          </div>
        {% endfor %}
      </div>
      <div class="section-cta" style="text-align: center;">
        <a
          href="{{ section.settings.cta }}"
          class="btn"
          style="
            margin: 0 auto;
            text-align: center;
            background: white;
            color: #1a1a1a;
            border-radius: 50px;
            padding: 15px 50px;
          "
        >
          {{- section.settings.cta_text -}}
        </a>
      </div>
    </div>
  </div>
</section>

{% style %}
  [data-section-id="{{ section.id }}"] {
    color: {{ section.settings.text_color }};
  }

  [data-section-id="{{ section.id }}"] .container {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    background: linear-gradient(#002000, #001000);
  }

  [data-section-id="{{ section.id }}"] .section-title {
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: clamp(30px, 5vw, 40px);
    font-weight: bold;
    margin-bottom: 2.5rem;
    position: relative;
  }

  [data-section-id="{{ section.id }}"] h2,
  [data-section-id="{{ section.id }}"] h3 {
    font-family: 'DM Sans', sans-serif;
    letter-spacing: -1px;
    line-height: 0.9;
    text-transform: unset;
    -webkit-text-stroke: 0px !important;
  }

  [data-section-id="{{ section.id }}"] .item-title {
    font-family: 'DM Sans', sans-serif;
    font-weight: normal;
  }

  [data-section-id="{{ section.id }}"] p {
    font-size: clamp(16px, 5vw, 18px);
    font-weight: 200;
  }

  [data-section-id="{{ section.id }}"] a:not(.btn) {
    text-decoration: underline;
  }

  [data-section-id="{{ section.id }}"] .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    margin: 0 0 1.5rem 0;
  }

  [data-section-id="{{ section.id }}"] .grid-item {
    padding: 3rem;
    text-align: center;
  }

  [data-section-id="{{ section.id }}"] .grid-item__icon {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  [data-section-id="{{ section.id }}"] .grid-item__icon svg {
    height: 50px;
    width: 50px;
    fill: #fff;
  }

  @media only screen and (max-width: 678px) {
    [data-section-id="{{ section.id }}"] .container {
      border-radius: 0px;
    }

    [data-section-id="{{ section.id }}"] .grid {
      grid-template-columns: 1fr;
      row-gap: 2rem;
    }

    [data-section-id="{{ section.id }}"] .grid-item {
      padding: 0rem;
    }
  }

  @media only screen and (min-width: 679px) {
    [data-section-id="{{ section.id }}"] .grid {
      width: 90%;
      margin: 0 auto;
    }
  }
{% endstyle %}
{% schema %}
{
  "name": "LG: How It Works",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "How It Works"
    },
    {
      "type": "textarea",
      "id": "section_byline",
      "label": "Section Byline",
      "default": "We provide comprehensive assessment and bespoke design services."
    },
    {
        "type": "url",
        "id": "cta",
        "label": "CTA Link"
    },
    {
        "type": "text",
        "id": "cta_text",
        "label": "CTA Text",
        "default": "Book Consultation"
    },
    {
        "type": "color",
        "id": "background_color",
        "label": "Background Colour",
        "default": "#1A1A1A"
    },
    {
        "type": "color",
        "id": "text_color",
        "label": "Text Colour",
        "default": "#fff"
    }
  ],
  "blocks": [
    {
      "type": "step",
      "name": "Step",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Step Title",
          "default": "Step Title"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Step Description",
          "default": "Step description..."
        },
        {
          "type": "select",
          "id": "icon",
          "label": "Step Icon",
          "options": [
            {
              "value": "strategy",
              "label": "Strategy"
            },
            {
              "value": "optimisation",
              "label": "Optimisation"
            },
            {
              "value": "mentor",
              "label": "Mentor"
            },
            {
              "value": "growth-chart",
              "label": "Growth Chart"
            }
          ],
          "default": "strategy"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "LG: How It Works",
      "category": "How It Works",
      "settings": {
        "section_byline": "We provide comprehensive assessment and bespoke design services.",
        "cta_text": "Book Consultation"
      },
      "blocks": [
        {
          "type": "step",
          "settings": {
            "title": "Assessment and Strategy",
            "description": "We start by thoroughly assessing your goals, resources, and challenges. Based on this, we develop a customised strategic plan encompassing farm design, business planning, and operational strategies.",
            "icon": "strategy"
          }
        },
        {
          "type": "step",
          "settings": {
            "title": "Implement and Optimise",
            "description": "Our experienced team oversees the implementation of your tailored plan, from site preparation to equipment installation and staff training. We closely monitor your progress, making data-driven adjustments to optimise yields, quality, and efficiency.",
            "icon": "optimisation"
          }
        },
        {
          "type": "step",
          "settings": {
            "title": "Mentor and Support",
            "description": "Our partnership doesn't end after the initial setup. We provide ongoing mentorship, training, and troubleshooting to help you navigate challenges and seize opportunities as your business grows.",
            "icon": "mentor"
          }
        },
        {
          "type": "step",
          "settings": {
            "title": "Sustain and Grow",
            "description": "We prioritise sustainable and eco-friendly cultivation practices to minimise your environmental footprint and maximise your long-term viability. By tracking key performance indicators, we ensure our efforts translate into measurable results for your operation.",
            "icon": "growth-chart"
          }
        }
      ]
    }
  ]
}
{% endschema %}
