<section 
id="LeadGenTextBlock-{{ section.id }}"
data-section-id="{{ section.id }}"
data-section-type="lead-gen-text-block"
class="lead-gen__text-block">
    <div class="container page-width">
        {% unless section.settings.heading_text == blank %}
            {% if section.settings.heading_type %}
                <{{ section.settings.heading_type }} class="section-title" style="text-align: {{ section.settings.text_alignment }};">
                    {{ section.settings.heading_text }}
                </{{ section.settings.heading_type }}>
            {% endif %}
        {% endunless %}
        <div class="rich-text" style="text-align: {{ section.settings.text_alignment }};">
            {{ section.settings.rich_text | richtext }}
        </div>
    </div>
</section>

{% style %}

    [data-section-id="{{ section.id }}"] .section-title {
        width: 100%;
        font-family: 'DM Sans' !important;
        text-transform: unset !important;
        font-size: clamp(30px, 5vw, 40px);
        font-weight: bold !important;
        letter-spacing: unset !important;
        {% if section.settings.rich_text != blank %}
        margin-bottom: 1.5rem;
        {% else %}
        margin-bottom: 0;
        {% endif  %}
        -webkit-text-stroke: unset !important;
        position: relative;
    }

    [data-section-id="{{ section.id }}"] p {
        font-size: clamp(18px, 5vw, 20px);
    }

{% endstyle %}

{% schema %}
    {
      "name": "LG: Text Block",
      "class": "index-section",
      "settings": [
        {
          "type": "text",
          "id": "heading_text",
          "label": "Heading Text",
          "default": "Your Custom Heading Here"
        },
        {
          "type": "select",
          "id": "heading_type",
          "label": "Heading Size",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ],
          "default": "h2"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text Alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "richtext",
          "id": "rich_text",
          "label": "Rich Text",
          "default": "<p>Enter your rich text content here.</p>"
        }
      ],
      "presets": [{
        "name": "LG: Text Block",
        "category": "Text Block"
      }]
    }
    {% endschema %}
    
    
