<section
  id="LeadGenWhyUFI"
  data-section-id="{{ section.id }}"
  data-section-type="lead-gen-why-ufi"
  class="lead-gen__why"
>
  <div class="container page-width">
    <div class="col col--left">
      <h2 class="section-title">Why Urban Farm-It?</h2>
    </div>
    <div class="col col--right">
      <div class="scorecards">
        <div class="scorecard">
          <h3>Unparalleled Expertise</h3>
          <p>With over 25 years of combined experience in cultivation, our team of passionate experts brings unmatched knowledge and skill to every project. We stay at the forefront of the latest innovations and techniques in the field, ensuring that our clients benefit from the most effective and efficient solutions.</p>
        </div>
        <div class="scorecard">
          <h3>Comprehensive Network</h3>
          <p>Our extensive network of consultants spans a wide range of specialities, allowing us to provide comprehensive support for every aspect of your project. From site selection and substrate preparation to climate control and pest management, our team of experts ensures a smooth and professional delivery at every stage.</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% style %}
  [data-section-id="{{ section.id }}"] {
    padding: 10rem 0;
  }

  [data-section-id="{{ section.id }}"] .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
  }

  [data-section-id="{{ section.id }}"] .col {
    width: 100%;
  }

  [data-section-id="{{ section.id }}"] .col--left {
    max-width: 25%;
  }

  [data-section-id="{{ section.id }}"] .col--right {
    max-width: 60%;
  }

  [data-section-id="{{ section.id }}"] h2,
  [data-section-id="{{ section.id }}"] h3 {
    font-family: 'DM Sans', sans-serif;
    letter-spacing: -1px;
    line-height: 0.9;
    text-transform: unset;
    -webkit-text-stroke: 0px !important;
  }

  [data-section-id="{{ section.id }}"] h2 {
    font-size: clamp(30px, 5vw, 40px);
  }

  [data-section-id="{{ section.id }}"] .scorecards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
  }

  [data-section-id="{{ section.id }}"] .scorecard h3 {
    font-size: clamp(30px, 5vw, 40px);
  }

  /* Media Queries */
  @media screen and (max-width: 768px) {
    [data-section-id="{{ section.id }}"] {
      padding: 2.5rem 0;
    }
    [data-section-id="{{ section.id }}"] .container {
      flex-wrap: wrap;
    }

    [data-section-id="{{ section.id }}"] .col--left,
    [data-section-id="{{ section.id }}"] .col--right {
      width: 100%;
      max-width: 100%;
    }

    [data-section-id="{{ section.id }}"] .scorecards {
      flex-wrap: wrap;
    }
  }
{% endstyle %}

{% schema %}
{
  "name": "LG: Why UFI",
  "settings": [

  ],
  "presets": [{
    "name": "LG: Why UFI",
    "category": "Header"
  }]
}
{% endschema %}
