{% unless section.settings.image == blank %}
  <div class="shopify-section index-section--flush">
    {%- style -%}
      @media screen and (max-width: 768px) {
        .background-media-text {
          background-image: url({{ section.settings.image | img_url: '1x1' }});
        }
      }
    {%- endstyle -%}

    <div
      data-section-id="{{ section.id }}"
      data-section-type="background-image"
      class="background-media-text background-media-text--550 loaded"
      data-aos="background-media-text__animation"
      {% if section.settings.parallax %}
        data-parallax="true"
      {% endif %}
    >
      <div class="background-media-text__container">
        {%- if section.settings.parallax -%}
          <parallax-image class="parallax-container">
          <div class="parallax-image" data-movement="15%" data-parallax-image data-angle="top">
        {%- endif -%}

        {%- if section.settings.image != blank -%}
          {% style %}
            .background-media-text__image {
              object-position: center;
            }
          {% endstyle %}

          {% assign classes = 'image-fit background-media-text__image' %}
          <img
            src="{{ section.settings.image | img_url: 'master' }}"
            alt="{{ section.settings.image_alt_text }}"
            loading="lazy"
            width="2400"
            class="{{ classes }}"
          >
        {%- else -%}
          {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}

        {%- if section.settings.parallax -%}
          </div>
          </parallax-image>
        {%- endif -%}
      </div>
      {%- if section.settings.heading != blank or section.settings.title != blank or section.settings.text != blank -%}
        <div class="background-media-text__inner">
          <div class="background-media-text__aligner background-media-text-left">
            <div class="animation-cropper">
              <div class="animation-contents">
                <div class="background-media-text__text">
                  {%- if section.settings.subtitle -%}
                    <p class="h5">{{ section.settings.subtitle }}</p>
                  {%- endif -%}
                  {%- if section.settings.heading != blank -%}
                    <{{ section.settings.heading_type }} class="h3">
                      {{- section.settings.heading | escape -}}
                    </{{ section.settings.heading_type }}>
                  {%- endif -%}
                  {%- if section.settings.text != blank -%}
                    <div class="rte background-media-text__subtext">{{ section.settings.text }}</div>
                  {%- endif -%}
                  {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}
                    <a href="{{ section.settings.button_link }}" class="btn">
                      {{ section.settings.button_label }}
                    </a>
                  {%- endif -%}
                </div>
              </div>
            </div>
          </div>
        </div>
      {%- endif -%}
    </div>

    <div class="background-media-text__spacer background-media-text--550"></div>
  </div>
{% endunless %}
{% schema %}
{
  "name": "Image Banner",
  "settings": [
    {
      "type": "checkbox",
      "id": "parallax",
      "label": "Parallax",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "image_alt_text",
      "label": "Image Alt Text"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_type",
      "label": "Heading Type",
      "options": [
        {"value": "h1", "label": "H1"},
        {"value": "h2", "label": "H2"},
        {"value": "h3", "label": "H3"}
      ],
      "default": "h2"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ],
  "presets": [{
    "name": "Image Banner"
  }]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
