{%- assign questions = product.metafields.faq.question -%}
{%- assign answers = product.metafields.faq.answer -%}
{%- assign len = questions | size | minus: 1 -%}

{%- if len > 0 -%}
  {%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}
  <div class="page-width page-width--narrow">
    {%- if section.settings.title != blank -%}
      <header class="section-header faq-header">
        <h2 class="section-header__title">
          {{ section.settings.title | escape }}
        </h2>
      </header>
    {%- endif -%}

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "FAQPage",
        "mainEntity": [
          {% for i in (0..len) %}
            {
              "@type": "Question",
              "name": {{ questions[i] | json }},
              "acceptedAnswer": {
                "@type": "Answer",
                "text": {{ answers[i] | json }}
              }
            }{% unless forloop.last %},{% endunless %}
          {% endfor %}
        ]
      }
    </script>
    <div>
      {%- for i in (0..len) -%}
        {%- assign question = questions[i] -%}
        {%- assign answer = answers[i] -%}
        <div>
          <button
            type="button"
            class="faq-question collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left"
            aria-controls="FAQ-content-{{ i }}"
          >
            {%- render 'collapsible-icons-alt', no_circle: true -%}
            <span>{{ question }}</span>
          </button>
          <div id="FAQ-content-{{ i }}" class="collapsible-content collapsible-content--all">
            <div class="collapsible-content__inner collapsible-content__inner--faq rte">
              {{ answer }}
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
  {%- if section.settings.divider -%}</div>{%- endif -%}
{%- endif -%}
{% schema %}
{
  "name": "PDP FAQs",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.faq.settings.title.label",
      "default": "FAQs"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "PDP FAQs",
      "blocks": []
    }
  ]
}
{% endschema %}
